<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link href="./assets/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <h1>Success submit the data</h1>
    <div class="container px-0">
        <div class="col">
            <div class="d-flex justify-content-center mt-3">
                <a class="btn btn-primary me-2" href="/" role="button">Back</a>
                <a class="btn btn-primary me-2" href="chart" role="button">Chart1</a>
                <a class="btn btn-primary me-2" href="chart-date" role="button">Chart2</a>
                <a class="btn btn-primary " href="chart-map" role="button">Chart3</a>
            </div>
        </div>
    </div>
</body>

</html>